*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.btn1{
    width: 60px;
    height: 60px;
    border-radius: 15%;
    font-size: 20px;
    font-weight: 500;
    color: white;
    border: none;
    box-shadow: 0px 0px 10px #0c629c65;
}
.btn_black:hover{
    background-color: #0C629C;
    transition: 0.3s;
}
.btn_blue{
    background-color:#0C629C ;
}
.btn_black{
    background-color:black;
}
.bor{
    border: 2px solid rgba(0, 0, 0, 0.865);
}
.div1{
    width: 400px;
    background-color: #131112f6;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.559); 
}
#display{
    width: 100%;
    height: 70px;
    font-size: 45px;
    background-color: black;
    color: white;
    border: none;
}
.main{
    width: 100%;
}
.para1{
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}
.para2{
    font-size: 22px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}
#display{
    text-align: right;
    outline: none;
}
#display::-webkit-input-placeholder {
    color: #ffff;
}